#grid_wrapper{
  position: absolute;
  top: 0px;
  z-index: 9;
  width: 100%;
}

//grid_toggle
#grid_inside.left{
  margin: 0px auto 0px 0px;
}

#grid_inside.center{
  margin: 0px auto;
}

#grid_inside.right{
  margin: 0px 0px 0px auto;
}

#grid_wrapper .cell{
	float: left;
	background: url("../images/1pxwhite.png") repeat-x scroll left top;
}

#grid_wrapper .cell.margin{
	opacity: 0.2;
}

#grid_wrapper .cell.body{
  opacity: 0.3;
}
#grid_toggle{
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 4px 10px;
	background-color: blue;
	border-radius: 4px;
	opacity: 0.9;
	color: #fff;
	letter-spacing: 1px;
}
#grid_toggle:hover{
	cursor: pointer;
	color: #999;
}
